$bg: #2d3a4b;
$light_gray: #eee;
/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 100%;
    input {
      background: transparent;
      border: 0px;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      height: 47px;
    }
  }
  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: #454545;
    text-align: center;
  }
  .btn {
    margin: 0 5px;
    width: 47%;
  }
}

.login-container {
  position: fixed;
  height: 100%;
  width: 100%;
  .login-form {
    /*position: absolute;
    left: 0;
    right: 0;*/
    width: 520px;
    padding: 35px 35px 15px 35px;
    margin: 50px auto;
  }
  .title {
    font-size: 26px;
    font-weight: 400;
    margin: 0px auto 40px auto;
    text-align: center;
    font-weight: bold;
  }
}